.card {
  display: flex;
  flex-direction: column;
  width: 300px;
  overflow: hidden;
  box-shadow: 0px 0px 15px -5px;
  margin: 15px;
  padding: 10px;
}

.card:hover {
  transform: scale(1.1);
}

.image-container {
  display: flex;
  justify-content: center;
  overflow: hidden;
  height: 200px;
}

h1 {
  font-size: medium;
}

.card-description {
  display: flex;
  flex-direction: column;
  height: 110px;
}

.card-buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.show-button {
  display: flex;
  width: 84px;
  justify-content: center;
}