.App {
  display: flex;
  justify-content: space-evenly;
}

.recipe-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipe-image {
  width: 200px;
  height: 200px;
}
