.App {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
}
.recipe-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipe-image {
  width: 200px;
  height: 200px;
}
